/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between the logo and the text */
}

header h1 .logo {
  width: 240px; /* Adjust width */
  height: 240px; /* Adjust height */
  object-fit: contain; /* Ensures the logo doesn't get distorted */
}

main {
  padding: 20px;
}

h2 {
  color: #333;
}

.report-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.report {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


canvas {
  max-width: 100%;
  height: auto;
}

/* Buttons */
button {
  display: block;
  width: 100%;
  padding: 10px;
  background: #20ACA4; /* Primary Theme Color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background: #178c81; /* Darker shade of primary color */
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: white;
}

/* Highlights */
.report p {
  color: #D72B6A; /* Secondary Theme Color */
  font-weight: bold;
  text-align: center;
}

.report h3 {
  color: rgb(68, 68, 68);
}

.report ul li {
  color: grey;
}

@media screen and (max-width: 768px) {
  .report {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
